body {
	background-color:#447604;
	color:#014421;
	
}
#directory {
	background-color:#52AD9C;
	overflow:hidden;
}
#directory ul{
	
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	float:left;
}
#directory ul li{

	float:left;
	position: relative;
	right: 50%;
	display:block;
}
#directory ul li a{
	
	display:block;
	text-decoration:none;
	padding:15px 20px;
	color:#014421;
}
#directory ul li a:hover{
	
	display:block;
	text-decoration:none;
	background-color:#9FFCDF;
	padding:15px 20px;
	color:white;
	
}
fieldset {
	
	background-color:#6CC551;
}

h2{
	
	clear:left;
	color:#52AD9C;
}
p {
	
	clear:left;
	border:10px solid #9FFCDF;
	background-color: #9FFCDF;
	
}
ul{
	
	clear:left;
}
.image_borders {
	border: 10px solid #6CC551;
	border-radius:10%;
	padding:5px;
	float:left;
	clear:left;
	background-color:#6CC551;
}
figcaption {
	
	border:10px solid #9FFCDF;
	clear:left;
	background-color: #9FFCDF;
	border-radius:25%;
	float:left;
	padding:5px;
}

#music_desc {
	clear:left;
	
}
#music_desc a{
	
	color:green;
	text-decoration:none;
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#9FFCDF;
	border:10px solid #6CC551;
	border-radius:25%;
}
#music_desc a:hover {
		
	color:white;
	text-decoration:none;
	list-style-type:none;
	margin:0;
	padding:0;
	border:10px solid #6CC551;
	background-color:#9FFCDF;
}